@media(max-width:360px){
    .header h1{
      font-size:1rem
    }
  }
  
  @media(max-width:375px){
      .header h1{
        font-size:2rem
      }
  }
  
  @media(max-width:700px){
    .header h1{
      font-size:3rem
    }
  }